// Our variables

// navigation
$navborder_width: 3px;
$navborder_active_width: 6px;

// colour schemes
$turquoise: #0fbfcf;
$dark-grey: #555555;

// site-wide colours
$black: #111;
$white: #f8f8f8;
$blue: #49a7e9;

// borders
$border-color: $black;
